# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/

# Environment Variables
.env
.env.local

# Database / Storage
*.sqlite3
*.db
pgdata/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
